.cart_container {
  position: fixed;
  width: 100vw;
  height: 100%;
  background-color: var(--shadow);
  z-index: 2;
  top: 0;
  padding: 24px;
}

.cart_order {
  background-color: #fefac9;
  border-radius: 12px;
  padding: 24px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-weight: 900;
  color: var(--second);
}

.cart_order-buttons {
  display: flex;
  gap: 6px;
  width: 100%;
  flex-direction: column;
}

.cart_order_button {
  width: 100%;
  background-color: var(--second);
  padding: 12px;
  border-radius: 6px;
  color: #fff;
  font-weight: 600;
  font-size: 18px;
}

.cart_order_button:nth-child(3){
    background-color: transparent;
    color: #f00;
}