.card {
  display: flex;
  align-items: center;
  height: 100px;
  background-color: #fff;
  gap: 30px;
  position: relative;
  border-radius: 12px;
}

.card_head {
  width: 60px;
  display: flex;
}

.card_img {
  margin-top: 1px;
  height: 100%;
  width: 80px;
}

.card_body {
  width: auto;
}

.card_name{
    text-transform: uppercase;
    font-weight: 900;
}

.card_sizes {
  display: flex;
  align-items: baseline;
  gap: 8px;
  margin-top: 8px;
}

.card_sizes_buttons {
  display: flex;
  gap: 8px;
  justify-content: space-between;
}

.card_size_button {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  font-weight: 900;
  font-size: 18px;
  background-color: #00000015;
  color: #000000ca;
}

.card_price {
  font-weight: 900;
  color: #000000ca;
  font-size: 18px;
}

.card-buttons {
  position: absolute;
  bottom: 20px;
  right: 16px;
}
