.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  height: 100px;
  background-color: #fff;
  position: relative;
  border-radius: 12px;
}

.card_head {
  width: 80px;
  display: flex;
}

.card_img {
  margin-top: 1px;
  height: 100%;
  width: 80px;
}

.card_body {
  width: auto;
  min-width: 196px;
}

.card_name{
    text-transform: uppercase;
    font-weight: 900;
}

.card_sizes {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  gap: 8px;
  margin-top: 8px;
}

.card_sizes_buttons {
  display: flex;
  gap: 8px;
  justify-content: space-between;
}

.card_size_button {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  font-weight: 900;
  font-size: 18px;
  background-color: #00000015;
  color: #000000ca;
}

.card_price {
  width: 100%;
  text-align: end;
  font-weight: 900;
  color: #000000ca;
  font-size: 18px;
}

.card-buttons {
  padding-right: 8px;
}

@media(min-width: 768px) {
  .card{
    width: 370px;
  }
}