.app_container {
  background-color: #f9f9f9;
  width: 100vw;
  height: auto;
  min-height: 100vh;
  max-width: 100vw;
}

.products_container {
  padding: 0 24px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  overflow: hidden;
}

.hide{
  max-height: 100vh;
  overflow: hidden;
}