* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}
button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

:root {
  --shadow: #00000020;
  --second: #fa6d01ff
}

select{
  width: 40px;
  border-radius: 4px;
  border: none;
  background-color: transparent;
  box-shadow: 0 0 2px #00000048;
  font-weight: 500;
  font-size: 16px;
}